.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.marquee:hover .marquee__item { animation-play-state: paused; }
  
.marquee__seperator { margin: 0 1rem; }

.marquee__item {
  display: inline-block;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

.marquee__img {
    width: 100%;
    max-width: 256px;
}

@keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.marquee {
  background-color: transparent;
  padding: 1rem 0;
  color: #fff;
}